$main-color: #4793F3;
$alt-color:  #FABF00;
$gris-color: #959595;
$shadow: rgba(0, 0, 0, 0.1);

body{
    font-family:  sans-serif;
    background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);
}

.link{
    color: $main-color;
    text-decoration: none;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 0%;
        border-bottom: 2px solid $main-color;
        transition: 0.3s;
    }

    &:hover:before {
        width: 85%;
    }
}

