/* custom buttons */
.buttons {
    background: $alt-color;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 45px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.button-radius {
    border-radius: 1.5rem;
}

.custom_border {

    &:before,
    &:after {
        position: absolute;
        content: "";
        transition: all .30s;
    }

    &:active {
        transform: translateY(4px);
    }

    &:before {
        border-bottom: 2px solid $alt-color;
        border-left: 2px solid $alt-color;
        width: 10%;
        height: 33%;
        left: -10px;
        bottom: -10px;
    }

    &:after {
        border-top: 2px solid $alt-color;
        border-right: 2px solid $alt-color;
        width: 10%;
        height: 33%;
        top: -10px;
        right: -10px;
    }

}