.card{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0.1875rem 1rem $shadow;
}

.card-body{
    background-color: transparent;
}

.card-title{
    text-align: left;
    margin: 0; padding: 0 0 10px 0;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.card-text
{
    line-height: 1.5em;
    color: #4e4a67;
}