footer{
    background-color: white;
    padding: 25px;

   
    & .social-icons .fa {
        font-size: 1.8em;
    }

    & .social-icons .fa {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    & .social-icons.icon-circle .fa{ 
        border-radius: 50%;
    }

    & .social-icons .fa-facebook,.social-icons .fa-facebook-square{
        background-color:#3C599F;
    }

    & .social-icons .fa-instagram{
        background-color:#A1755C;
    }

    & .social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
        transform: scale(1.1) rotate(360deg);
    }
}

@media(max-width: 600px) {
    footer{
        & span{
            font-size: 15px;
        }
    }
    
}