header{
    position: relative;
    width: 100%;
    color: white;
    padding: 25px;
    max-height: 620px;
    box-shadow: 0 0.1875rem 1rem $shadow;
    background-size: cover;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: .8;
    }

    & .arrow-icon{
        animation: mover .9s infinite alternate;
    }
}

@keyframes mover{
    0%{transform:translateY(0px);}
    100%{transform:translateY(-30px);}
}

.main-title{
    text-rendering: optimizeLegibility;
    color: $alt-color;
    font-family: "Century Gothic";
    text-shadow: 4px 4px 4px $shadow;
}

@media(max-width: 992px) {
    header{
        max-height: 500px;
        & h1{font-size: 15px;}
    }
    
}


@media(max-width: 600px) {
    header{
        max-height: 950px;
        & h1{font-size: 20px;}
        & h6{font-size: 11px;}
        & h3{font-size: 18px;}
        & .fa {
            font-size: 18px !important;
        }
        .main-title{font-size: 18px;}
    }
    
}