.canvas-container{
    position: absolute;
    top: 0;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    z-index: -1;
  }
  
  #circles{
    position:absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 600px;
    z-index: -1;
  }