@charset "UTF-8";
body {
  font-family: sans-serif;
  background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);
}

.link {
  color: #4793F3;
  text-decoration: none;
  position: relative;
}
.link:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #4793F3;
  transition: 0.3s;
}
.link:hover:before {
  width: 85%;
}

header {
  position: relative;
  width: 100%;
  color: white;
  padding: 25px;
  max-height: 620px;
  box-shadow: 0 0.1875rem 1rem rgba(0, 0, 0, 0.1);
  background-size: cover;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to right, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.8;
}
header .arrow-icon {
  animation: mover 0.9s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}
.main-title {
  text-rendering: optimizeLegibility;
  color: #FABF00;
  font-family: "Century Gothic";
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  header {
    max-height: 500px;
  }
  header h1 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  header {
    max-height: 950px;
  }
  header h1 {
    font-size: 20px;
  }
  header h6 {
    font-size: 11px;
  }
  header h3 {
    font-size: 18px;
  }
  header .fa {
    font-size: 18px !important;
  }
  header .main-title {
    font-size: 18px;
  }
}
.canvas-container {
  position: absolute;
  top: 0;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}

#circles {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 600px;
  z-index: -1;
}

.card {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0.1875rem 1rem rgba(0, 0, 0, 0.1);
}

.card-body {
  background-color: transparent;
}

.card-title {
  text-align: left;
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.card-text {
  line-height: 1.5em;
  color: #4e4a67;
}

#second, #third, #fourth {
  display: none;
}

form {
  position: relative;
  max-height: 620px;
  width: 100%;
  top: 50px;
  color: black;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
form .progress-container {
  background: rgba(71, 147, 243, 0.2);
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
form .progress-container .step {
  background-color: #4793F3;
  height: 6px;
  width: 33%;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 0 auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 600px) {
  form {
    top: 10px;
  }
}
/* custom buttons */
.buttons {
  background: #FABF00;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 45px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.button-radius {
  border-radius: 1.5rem;
}

.custom_border:before, .custom_border:after {
  position: absolute;
  content: "";
  transition: all 0.3s;
}
.custom_border:active {
  transform: translateY(4px);
}
.custom_border:before {
  border-bottom: 2px solid #FABF00;
  border-left: 2px solid #FABF00;
  width: 10%;
  height: 33%;
  left: -10px;
  bottom: -10px;
}
.custom_border:after {
  border-top: 2px solid #FABF00;
  border-right: 2px solid #FABF00;
  width: 10%;
  height: 33%;
  top: -10px;
  right: -10px;
}

footer {
  background-color: white;
  padding: 25px;
}
footer .social-icons .fa {
  font-size: 1.8em;
}
footer .social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social-icons.icon-circle .fa {
  border-radius: 50%;
}
footer .social-icons .fa-facebook, footer .social-icons .fa-facebook-square {
  background-color: #3C599F;
}
footer .social-icons .fa-instagram {
  background-color: #A1755C;
}
footer .social-icons.icon-rotate .fa:hover, footer .social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

@media (max-width: 600px) {
  footer span {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
